bluetuith/
Code/
caja/
chromium/
dconf/
discord/
Electron/
environment.d/
git/
glib-2.0/
gnome-session/
GNOME-xdg-terminals.list
gtk-3.0/
gtk-4.0/
ibus/
kitty/
libreoffice/
lvim/
mimeapps.list
nautilus/
obsidian/
pavucontrol.ini
pulse/
spotify/
Thunar/
user-dirs.dirs
user-dirs.locale
wal/
xdg-terminals.list
.bashrc
.gsd-keyboard.settings-ported
*.swp
*.swo
