Code/
dconf/
discord/
Electron/
environment.d/
git/
gnome-session/
GNOME-xdg-terminals.list
gtk-3.0/
gtk-4.0/
ibus/
kitty/
libreoffice/
lvim/
mimeapps.list
nautilus/
obsidian/
pulse/
spotify/
user-dirs.dirs
user-dirs.locale
wal/
xdg-terminals.list
.bashrc
.gsd-keyboard.settings-ported